@using App.Areas.Identity.Views.Manage
@using App.Areas.Identity.Models.ManageViewNodels
@model IndexViewModel
@{
    ViewData["Title"] = "Hồ sơ cá nhân";
    ViewData["ActivePage"] = ManageNavPages.Index;

}


<h4 class="account-manage-title">@ViewData["Title"]</h4>

<partial name="_StatusMessage" model=@ViewData["StatusMessage"] />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.profile.UserName"></label>
                <input asp-for="@Model.profile.UserName" class="form-control account-manage-input-form" disabled />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control account-manage-input-form" disabled />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.profile.HomeAddress"></label>
                <textarea asp-for="@Model.profile.HomeAddress" class="form-control"></textarea>
                <span asp-validation-for="@Model.profile.HomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.profile.BirthDate"></label>
                <input asp-for="@Model.profile.BirthDate" class="form-control account-manage-input-form" />
                <span asp-validation-for="@Model.profile.BirthDate" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary account-manage-btn">Lưu</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
